/* This initially styles all selectors */

* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

nav {
    position: sticky;
    top: 0;
    background: #000;
    height: 90px;
    width: 100%;
    z-index: 5;
}


/* This targets the <label> selector whose class is named "logo" */

label.logo {
    color: white;
    font-size: 35px;
    line-height: 80px;
    padding: 0 100px;
    font-weight: 900;
}


/* This targets the <ul> that is after the <nav> selector */

nav ul {
    float: right;
    margin-right: 20px;
}


/* This targets the <li> that is after the <ul> that is after <nav> selector */

nav ul li {
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
    cursor: pointer;
}

nav ul li a {
    color: white;
    font-size: 17px;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase;
}

a.active,
a:hover {
    background: rgb(62, 62, 62);
    transition: 0.5s;
}

.submenu {
    display: none;
}

nav ul li:hover .submenu {
    display: inline-block;
    position: absolute;
    background: #000;
    border-radius: 5px;
    margin-top: 80px;
    margin-left: -130px;
    z-index: 2;
}

.checkbtn {
    font-size: 30px;
    color: white;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}

#check {
    display: none;
}

@media screen and (max-width: 950px) {
    label.logo {
        font-size: 30px;
        padding-left: 20px;
    }
    nav ul {
        float: right;
        margin-right: 4px;
    }
    nav ul li a {
        font-size: 15px;
        padding: 0;
    }
}

@media screen and (max-width: 600px) {
    .checkbtn {
        display: block;
    }
    ul {
        position: absolute;
        width: 100%;
        height: max-content;
        background: #2c3e50;
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all 0.5s;
        z-index: 2;
    }
    nav ul li {
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }
    nav ul li a {
        font-size: 20px;
    }
    nav ul li:hover .submenu {
        display: inline-block;
        width: 50%;
        background: rgb(24, 24, 24);
        border-radius: 5px;
        margin-left: 46%;
        margin-top: -130px;
        z-index: 2;
    }
    a:hover {
        background: #507492;
        transition: 0.5s;
    }
    /* This uses the "checked" pseudo state of the checkbox to toggle (~) the view of the
       "ul" element */
    #check:checked~ul {
        left: 0;
    }
}