.carousel-container {
    position: relative;
    margin-right: auto;
    text-align: center;
    width: 100%;
    height: stretch;
    background-color: #2c7fd2;
    box-shadow: 0 8px 16px #dce1e1;
    z-index: -5;
}

.carousel-container img {
    display: none;
    height: stretch;
}

.carousel-container img.image-active {
    display: block;
    width: 100%;
    height: stretch;
}


/* dots or indicators */

.carousel-dot-container {
    position: absolute;
    right: 0;
    left: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    padding: 0;
    margin-bottom: 1rem;
}

.dot {
    cursor: pointer;
    width: 13px;
    height: 13px;
    margin: 0 5px;
    background-color: #fff;
    border-radius: 50%;
    display: inline-block;
    transition: opacity 0.1s ease;
    opacity: 0.5;
}

.activated,
.dot:hover {
    opacity: 1;
}

.fade {
    animation-name: my-fade;
    animation-duration: 1.5s;
}

@keyframes my-fade {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.icon-carousel {
    color: #fff;
    opacity: 0.5;
    transition: all 1.5s ease;
}

.icon-carousel:hover {
    opacity: 1;
}

.icon-carousel:active {
    opacity: 1;
}

.icon-prev,
.icon-next {
    font-size: 35px;
}

@media screen and (max-width: 600px) {
    .carousel-container {
        width: 100%;
        height: 140%;
        display: block;
        float: left;
        clear: right;
    }
}
