.card {
    display: block;
    justify-content: space-around;
    margin-top: 6%;
    margin-left: 10%;
    width: 80%;
    height: fit-content;
}

.card p {
    all: unset;
    margin-top: 15%;
    background-color: #f3f1f1;
    width: stretch;
    border: 1px solid #eee;
    border-radius: 20px;
    margin: 8px 8px 16px;
    padding: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: stretch;
    align-items: center;
    transition: all 0.2s ease-in-out;
    line-height: 24px;
}
